* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;;
}

/* ALL */
.bg-header {
    background-color: #f7f7f7;
    /* background-image: linear-gradient(to right top, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff); */
}

.img-waves-header {
    position: absolute !important;
    z-index: 1;
    /* left: 30%; */
    /* transform: rotate(45deg); */
}

.card, .card-body {
    outline: none !important;
    border: none !important;
}

.bg-nav {
    background-color: #3A56E7;
    transition: background-color 1s;
}

.btn-primary:hover,.btn-primary:focus,
.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover {
    box-shadow: none!important;
    outline: 0;
    fill: #6A54F7;
}

.form-control:hover,.form-control:focus,
.form-control:active, 
.form-control:active:focus:not(:disabled):not(.disabled),
.form-control:focus, .form-control:active, .form-control:hover {
    box-shadow: none!important;
    outline: 0;
    fill: #6A54F7;
}


/* Navbar */
nav.navbar {
    font-size: 18px;
}

/* Header */
.header {
    padding: 50px 0 50px 0;
    margin-top: 8%;
}

.img-header {
    width: 100%;
    padding-left: 30%;
}

.title-header {
    padding-top: 15%;
    /* padding-left: 10%; */
    line-height: 55px;
}

.moto-header {
    font-style: italic;
}

/* VISI & MISI */
.visi-misi {
    margin-top: -50px;
}

.col-visi-misi {
    padding-top: 5% !important;
}

/* About US */

.about-us {
    margin-top: -20%;
    padding-top: 18%;
    /* padding-bottom: 30px; */
    background-color: #f7f7f7;
}

.img-about {
    padding-top: 3%;
    margin-left: 23%;
}

.txt-about {
    text-align: justify !important;
}


/* Galeri */
.gallery {
    margin-bottom: 10%;
}
.img-galeri {
    margin-top: 5%;
    margin-left: 30%;
}

/* Jurusan */
.jurusan {
    /* margin-top: -50px !important; */
}

.img-jurusan {
    padding-top: -4%;
}

.txt-jurusan {
    padding-top: 10px;
    padding-left: 12%;
}

.list-jurusan {
    margin-left: 12%;
    width: 80% !important;
}

.bg-list-jurusan {
    background-color: #EFEFEF;
    color: #363636 !important;
    border-radius: 15px !important;
}

.detail-jurusan {
    margin-top: -8%;
}

.detail-list {
    margin-top: 20px;
}

.card-active {
    background-color: #fff;
    box-shadow: 3px 5px 21px 0px rgba(156,146,146,0.53);
    -webkit-box-shadow: 3px 5px 21px 0px rgba(156,146,146,0.53);
    -moz-box-shadow: 3px 5px 21px 0px rgba(156,146,146,0.53);
}

.col-txt-jurusan {
    margin-top: 7%;
}

.col-transition {
    transition: all 1s inherit;
}

.tkj-img {
    margin-left: 180px !important;
}

.telko-img {
    margin-left: 80px;
}

/* BARU */
.bg-content {
    margin-top: 150px;
}

.img-header {
    width: 100%;
    padding-left: 20%;
}

.btn-more {
    border-radius: 8px;
    box-shadow: -2px 48px 44px -19px rgba(189, 160, 0, 1);
    -webkit-box-shadow: -2px 48px 44px -19px rgba(189, 160, 0, 1);
    -moz-box-shadow: -2px 48px 44px -19px rgba(189, 160, 0, 1);
}

.border-lingkaran {
    border: 8px solid #ffee00;
    border-radius: 50%;
}

.border-lingkaran2 {
    border: 8px solid #00ff73;
    border-radius: 50%;
}

.border-lingkaran3 {
    border: 8px solid #3A56E7;
    border-radius: 50%;
}

.border-lingkaran4 {
    border: 8px solid #ae00ff;
    border-radius: 50%;
}

.margin-sm-right {
    margin-left: 170px;
}

.bg-copyright {
    background-color: #3A56E7;
    color: #fff;
}

.vektor-footer {
    z-index: -1;
    margin-left: -20%;
    margin-bottom: -15%;
}

.text-footer {
    color: #ffc107;
    font-weight: bold;
}

.text-footer:hover {
    color: #ffee00;
}

@media only screen and (max-width: 412px) {
    .padding-sm {
        padding: 50px 0;
    }

    .margin-sm-right {
        margin-left: 0;
        text-align: right;
    }

    .hide {
        display: none;
    }

    .vektor-footer {
        margin-left: -80%;
        margin-bottom: -40%;
    }
}


/* Responsive */

@media only screen and (max-width: 998px) {
    .header {
        margin-top: 2%;
    }
    .moto-header {
        margin-bottom: 5%;
    }
    .detail-jurusan {
        margin-left: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .btn-more {
        width: auto;
    }
}

@media only screen and (max-width: 469px) {
    .detail-jurusan {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 393px) {
    .detail-jurusan {
        margin-left: 20px;
    }
}